*{
    padding: 0%;
    margin: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
button{
    margin-bottom: 50px;
}
.upload0{
    margin-left: 400px;
    margin-right: 400px;
}
.upload1{
    margin-left: 400px;
    margin-right: 400px;
}
.upload2{
    margin-left: 400px;
    margin-right: 400px;
}
.upload3{
    margin-left: 400px;
    margin-right: 400px;
}
.upload4{
    margin-left: 400px;
    margin-right: 400px;
}